<html>
    <head>
        <tittle>
            <h1 align="center" style="color:rgb(89, 238, 89); background-color:DodgerBlue;"> Welcome to my website </h1>
        </tittle>
    </head>
    <body style="background-color: rgb(237, 234, 223)";>
        <h3>Enter the insert link to provide information and enter the display link to view information.</h3> <br> <br> <br>

        <a href="{% url 'insert' %}"> Insart</a> <br> <br> <br>

        <a href="{% url 'view' %}"> Display</a>
    </body>
</html>
